.btn {
  @include std-input;
  background-color: $color-secondary;
  padding: 0 1.2em;
  &:hover { background-color: $color-secondary-alt; }
  &:active { background-color: $color-secondary; }
  color: $color-secondary-contrast;
  text-decoration: none;
  font-weight: 500;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;
  height: $height-input;
  &::-moz-focus-inner {
    border: 0; 
    padding: 0; 
  }

  // vertically center text
  display: flex;
  align-items: center;
  justify-centent: center;
}

.btn-primary {
  @extend .btn;
  background-color: $color-primary;
  color: $color-primary-contrast;
  &:hover { background-color: $color-primary-alt; }
  &:active { background-color: $color-primary; }
}
