$input-side-padding: 0.6em;

%textboxes {
  @include std-input;
  border: 1px solid $color-secondary;
  background-color: #fff;
  padding: 0 $input-side-padding;
  border-radius: $radius;
  line-height: 1.7;
}

.input-text {
  @extend %textboxes;
  height: $height-input;
}

.input-textarea {
  @extend %textboxes;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.input-label {
  display: block;
  font-weight: 600;
  line-height: 1;
}

