$color-primary: #4a8bfc;
$color-primary-alt: lighten($color-primary, 5); // highlight color
$color-primary-contrast: #fff; // for text on bg
$color-secondary: #ddd;
$color-secondary-alt: lighten($color-secondary, 3); // highlight color
$color-secondary-contrast: #000; // for text on bg
$color-outline: #45AAFF;

$radius: 3px;
$time: 90ms; // for color changes
$time-long: 150ms; // for sweeps in and out
$height-input: 2.3em;
$padding-content: 1rem;

@mixin std-input {
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: all $time linear;
  box-shadow: 0 0 0 1px transparent;
  font: inherit;
  border-radius: $radius;
  &:focus {
    outline: 0;
    border-color: $color-outline;
    box-shadow: 0 0 0 1px $color-outline;
  }
}

